.navbar{
    background-color:black;
}

.navbar-brand{
    font-size:40px;
}
.navbar span{
    color:orange;
}

.navbar-toggler{
    border: none;
}

.navbar .nav-link{
    color:darkorange
}

main{
    width: 100%;
    background-color: #f37d39;
    background-image: url(../img/Main.JPG);
    background-size: cover;
    background-position: center;
}

.nleft{
    height: 800px;
    background-image: url(../img/fotosoldi.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 0px;
}

.nright{
    color:white;
    text-align: justify;
    text-shadow: 0 0 5px #000;
    font-size: 20px;
    padding-top: 30px;
    margin-top: 0;
    background-color: #f37d3970;
}

h2{
    background-color: #ff88009d;
    color:#fff;
    text-shadow: 0 0 5px #000;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 3px;
}

.cursos{
    width: 100%;
    height: auto;
}

.nleftcursos{
    height: 450px;
    background-image: url(../img/cursos.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 0px;
    padding-top: 0px;
}

.nrightcursos{
    color:white;
    text-align: justify;
    text-shadow: 0 0 5px #000;
    font-size: 20px;
    padding-top:30px;
    background-color: #f3393970;
}

.nleftteatro{
    height: 450px;
    background-image: url(../img/teatro.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 0px;
}

.nrightteatro{
    color:white;
    text-align: justify;
    text-shadow: 0 0 5px #000;
    font-size: 20px;
    padding-top: 30px;
    background-color: #f37d3970;
}

.nleftguitarra{
    height: 450px;
    background-image: url(../img/guitarra.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 0px;
}

footer{
    background-color: #000;
    background-size: cover;
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
}

.redes i{
    font-size: 50px;
    margin-bottom: 20px;
    letter-spacing: 20px;
    color: #ffffff;
}

.redes i:hover{
    color:darkmagenta
}

.subir{
    position: fixed;
    right: 40px;
    bottom: 40px;
    background-color: orange;
    padding: 15px;
    color: #fff;
    font-size: 20px;
    border-radius:50%;
    border: 3px solid #fff;
}

.subir:hover{
    background-color: #333;
}